.panel-question .panel-heading h3{
	display:inline-block;
}

.panel-question .panel-heading a{
	display: inline-block;
}

.glyphicon.glyphicon-ok{
	color:forestgreen;
/* 	margin-left:1em; */
}

.glyphicon.glyphicon-remove{
	color:red;
	margin-left:1em;

}

.glyphicon.glyphicon-ok.collapse.in{
	display: inline-block;
}

.glyphicon.glyphicon-remove.collapse.in{
	display: inline-block;
}


.panel-dev-area .panel-heading h3{
	display:inline-block;
}

.add-section-container,.box-wrapper{
	border-style: solid;
	border-width: 1px;
    border-color: #ddd;
  	padding: 0px 15px 15px;
}

#admin-section-table{
	margin-top: 5em;
}

#navBar{
	background-color: #5B1F78;
	
}

#navbar ul li.active{
	background-color:#9260A0; 
} 

#navbar li a{
	color: #fff;	
}


#navbar li ul{
	background-color: #5B1F78;	
}


.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #9260A0;
    
}

.nav li a:focus, .nav li a:hover {
    text-decoration: none;
    background: #9260A0;
}

.navbar-brand{
	color:#fff;
}

.panel-default>.panel-heading{
	/*background-image: linear-gradient(to bottom,#9260A0 0,#D2C5DF 100%);
	border-color: #D2C5DF;*/
	background: #9260A0;
}

.panel-heading h3{
	color: #fff;
}

.panel-default {
    border-color: #9260A0;
}
.btn-default{
	    background-image: linear-gradient(to bottom,#fff 0,#5B1F78 100%);
	    color:#fff;
}

.hidden {
	display: none;
}


#driverslicense_select {
	margin-bottom: 8px;
}

.save-failed, .save-succeeded {
	display: none;
}

.message {
	margin-left: 4px;
}

.mgn-lft4px {
	margin-left: 4px;
}

.mgn-lft8px {
	margin-left: 8px;
} 

.mgn-top1px {
	margin-top: 1px;
}

.mgn-rgt8px {
	margin-right: 8px;
}

.mgn-top8px {
	margin-top: 8px;
}

.mgn-top4px {
	margin-top: 4px;
}

.mgn-top12px {
	margin-top: 12px;
}

.mgn-top16px {
	margin-top: 16px;
}

.mgn-top24px {
	margin-top: 24px;
}

.mgn-btm8px {
	margin-bottom: 8px !important;
}

.mgn-top0px {
	margin-top: 0px;
}

.mgn-rgt32px {
	margin-right: 32px;
}

.pdg-lftrgt0px {
	padding-left: 0px;
	padding-right: 0px;
}

.btn-mgn-top{
	margin-top:4px;
}

th.overview {
	font-size: 90%;
}

.tr {
    font-weight: bold;
}

.tr, .tt, .tq {
    float: left;
    width: 25%;
    font-size: 14px;
    line-height: 25px;
    overflow: hidden;
    min-height: 25px;
}

.break {
	clear:both;	
}

.bold{
	font-weight: bold;
}

table#periods-table {
	border-collapse: separate;
    border-spacing: 4px;
}

.application-row, .job-row, .overview-row {
	padding-top: 4px;
	padding-bottom: 4px;
}

.application-list-row:hover, .job-row:hover {
	background-color: #D2C5DF; 
 	opacity: 0.8; 
	cursor: pointer;
}

.overview-row:hover {
	background-color: #D2C5DF;
	 opacity: 0.8; 
	
}

table#salary-table {
	border-collapse: separate;
    border-spacing: 4px;
}

table#accounting-entries-table {
	border-collapse: separate;
    border-spacing: 4px;
}

table#contact-person-table {
	border-collapse: separate;
    border-spacing: 4px;
}

#save-period-failed, #save-period-succeeded {
	display: none;
	margin-top: 16px;
}

#save-place-failed, #save-place-succeeded {
	display: none;
	margin-top: 16px;
}

#save-salary-failed, #save-salary-succeeded {
	display: none;
	margin-left: 16px;
	margin-right: 16px;
}

#save-accounting-failed, #save-accounting-succeeded {
	display: none;
	margin-left: 16px;
	margin-right: 16px;
}

#save-contact-failed, #save-contact-succeeded {
	display: none;
	margin-left: 16px;
	margin-right: 16px;
}

.period-wrapper {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.period-container{
	margin-bottom: 0px;
}

.matched-application, #jobinfo-contact {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 4px 8px 4px 8px;
	margin-top: 8px;
}

.candidate, .denied-application {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 8px 8px 8px 8px;
	margin-top: 8px;
}

/* #manage-job-box { */
/* 	border: 1px solid #ccc; */
/* 	border-radius: 8px; */
/* 	padding: 4px 8px 4px 8px; */
/* } */

#period_unique {
	display: none;
}

.prio {
	color: red;
}

#preview-template {
	display: none;
}

.preview-period-template {
	display: none;
}

.preview-period-showing {
/* 	display: none; */
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 4px 8px 4px 8px;
	margin: 4px 8px 4px 8px;
}

.remove-mentor:hover {
	cursor: pointer;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.add-mentor{
	margin-bottom: 8px;
}

.mentor-description-text{
	font-weight: normal; 
	font-size: 90%;
}

/**************************************************/
/* Page Tabs (for tab specifics look for ul.tabs) */
/**************************************************/
#page-tabs
{
    margin-bottom:15px;
}

#page-tabs .content
{
    border:solid 1px #ececec;
    border-radius:3px;
    border-top-left-radius:0;
    -moz-border-radius:0 3px 3px 3px;
    margin-top:-6px;
    padding:15px;
}

#page-tabs .content.dynamic-content
{
    padding:0;
}

/*OBS, FIX FÖR TOM P-TAG SOM LÄGGS TILL NÄR MAN ENBART HAR DYNAMISK KOMPONENT I EDITOR */
#page-tabs .content p
{
    margin-top:0;
    /*margin-bottom:0; denna rad bråkar med innehåll i flikarna, sätter stycken för nära varandra */ 
}

#page-tabs .content .rss
{
    padding:10px 15px 0;
    float:right;
    clear:both !important;
    margin-bottom:-15px; /* instead of having no top margin on pagelist */
}

#page-tabs .content .links
{
    padding:5px 15px 15px 0;
    float:right;
    clear:both !important;
    font-weight:bold !important;    
}

#page-tabs .content .functions a,
#page-tabs .content .links a
{
    text-decoration:none;
}

#page-tabs .content .functions a:hover,
#page-tabs .content .links a:hover
{
    text-decoration:underline;
}


/*********************************/
/*********************************/
/*   Dynamic Content - PageList  */
/*********************************/
ul.pagelist
{
    border-top:solid 2px #f1f1f1;
    list-style:none;
    padding:0 !important;
    /* margin:0 0 15px 0; */
}
ul.pagelist li
{
    list-style:none;
    padding:10px;
    margin:0;
    display:block;
}
ul.pagelist li.alternate
{
    background-color:#f1f1f1;
}
ul.pagelist li a
{
    width:auto;
    text-decoration:none;
    display:inline-block;
}
ul.pagelist li.image a
{
    width:320px;
}
ul.pagelist a:focus span.h3span,
ul.pagelist a:hover span.h3span,
ul.pagelist a:focus h3,
ul.pagelist li a:hover h3
{
    text-decoration:underline !important;
}
ul.pagelist a:focus 
{
    text-decoration:none !important;
}
ul.pagelist li h3
{
    margin-top:0;
}
ul.pagelist a span.h3span
{
    font-family: RalewayBold, Helvetica, Arial, Sans-Serif;
    font-size: 18px;
    margin-bottom: 3px;
    display: block;
}
ul.pagelist li span.date
{
    padding-right:3px;
}
ul.pagelist li .image
{
    float:left;
    width:85px;
    margin-right:10px;
}

/* pagelist overrides */
#page-tabs ul.pagelist { margin:0 !important; border:0; }
#page-tabs ul.pagelist li { padding:15px; }
#page-tabs ul.pagelist li:first-child { padding-top:20px; }
#page-tabs ul.pagelist li.image a { width:310px; }

/* Innehållsöversikt */
div.subpagelist ul 
{ 
    margin:0;
    padding:0; 
}
div.subpagelist ul ul
{ 
    margin-bottom:0.5em !important;
}
div.subpagelist li 
{ 
    display: block;
    margin: 0;
    padding: 0 0 0 5px;
    list-style: none;
}
div.subpagelist a
{
    display:block;
    padding-left:1em;    
    text-decoration:none;
}
div.subpagelist ul ul a
{
    display:block;
    padding:0.2em 0.2em 0.2em 0.7em;    
    margin-left:1em;
    text-decoration:none;
}
div.subpagelist ul ul a:hover
{
    background-color:#efefef;
}
div.subpagelist a:hover
{
    text-decoration:underline;
}
div.subpagelist h3 a
{
    background: url(Images/ico-arrow-small-down.png) no-repeat 0px 6px;
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 10px;
}
div.subpagelist div.column
{
    width:48%;
    float:left;
}

/********************************/
/* VACANCY LIST/ITEM            */
/********************************/
#page-tabs.vacancy-list .content ul li
{
    padding:0 !important;
}
#page-tabs.vacancy-list .content ul li a
{
    padding:15px !important;
    display:block;
}
#page-tabs.vacancy-list span.last-appliance
{
    display:block;
    margin-top:10px;
    font-size:11px;
    color:#777;
    font-weight:bold;
}

.quickContact.vacancy-contact
{
    padding-bottom:15px !important;
}
.quickContact.vacancy-contact span
{
    display:block;
}

.menu-box.about-vacancy .content h4
{
    margin:0 0 3px 0;
    padding:0;
}
.menu-box.about-vacancy .content span.applydate
{
}
.menu-box.about-vacancy .content span.applydate.alert
{
    color:#f00;
}

.pagelist a{
    color: #393939;
}

#clear-search-button{
	margin-left:1em;
}

.job-info{
	margin-top:1.5em;
}

.navbar-bottom{
	background-color: #5B1F78;
}

.navbar-info{
	padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
    position: relative;
    display: block;
    padding: 10px 15px;
    color:#fff;
}

.footer-offset{
	margin-top:7em;
}

@media (max-width: 767px) {
    .col-xs-top-margin {
        margin-top:8px;
    }
}

.main-content-container{
	margin-top:80px;
}

.candidates-container{
	margin-top:16px;
}

.success-message-wrapper{
	margin-top: 32px; padding-left: 48px; padding-right: 48px;
}

#search-applications-form .form-group{
	margin-bottom: 0px;
}

.more-information-container{
	margin: 8px; 
	padding: 8px;
}


@font-face {
    font-family: 'RalewayRegular';
    src: url('Fonts/Raleway-Regular.otf');    
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RalewayBold';
    src: url('Fonts/Raleway-Bold.otf');    
    font-weight: normal;
    font-style: normal;
}


input, select, textarea {
    font-family: Helvetica, Arial, Sans-Serif;
}

h1, h2, h3, h4, h5 {
    font-family: RalewayBold, Helvetica, Arial, Sans-Serif;
    font-weight: normal;
}

h1 {
    font-size:26px;
}

h2 {
    font-size:18px;
    margin-bottom:4px;
}

h3 {
    font-size:14px; 
    margin-bottom:4px; 
}

h4 {
    font-size:13px;
}
p { margin-top:2px; }

a{
	font-family: RalewayBold, Helvetica, Arial, Sans-Serif;
    font-weight: normal;
}

a[data-toggle="tab"]{
    font-size: 16px;
    font-family: RalewayBold, Helvetica, Arial, Sans-Serif;
    font-weight: normal;
}

#navBar li a, #footer-body{
 	font-family: RalewayBold, Helvetica, Arial, Sans-Serif;
    font-weight: normal;
    font-size: 13px;
}

button{
	font-family: RalewayBold, Helvetica, Arial, Sans-Serif;
    font-weight: normal;
}

a[type="button"]{
	font-family: RalewayBold, Helvetica, Arial, Sans-Serif;
    font-weight: normal;
}

.application-more-info-row{
	margin-top:1em;
	margin-bottom:1em;
	    margin-left: 45px;
}

.application-more-info-show{
	color: #9260A0;
}

.divider{
	
	border-top: 1px solid #cacaca;
	margin-top:2em;	
}

.mgn-top-2em{
	margin-top:2em;
}

#HeaderArea {
    background-image: url(images/header-background.png);
    height: 132px;
    overflow: hidden;
    width: 960px;
    //margin: auto;
    
}

.no-fixed-top{
	top: auto;
	position: absolute;
}

.list-application-panel {
	margin-bottom: 0px;
}