.panel-question .panel-heading h3{
	display:inline-block;
}

.panel-question .panel-heading a{
	display: inline-block;
}

.glyphicon.glyphicon-ok{
	color:forestgreen;
/* 	margin-left:1em; */
}

.glyphicon.glyphicon-remove{
	color:red;
	margin-left:1em;

}

.glyphicon.glyphicon-ok.collapse.in{
	display: inline-block;
}

.glyphicon.glyphicon-remove.collapse.in{
	display: inline-block;
}


.panel-dev-area .panel-heading h3{
	display:inline-block;
}


#view-survey{
	margin-bottom: 5em;
}

.add-section-container,.box-wrapper{
	border-style: solid;
	border-width: 1px;
    border-color: #ddd;
  	padding: 0px 15px 15px;
}

#admin-section-table{
	margin-top: 5em;
}

#navBar{
	background-color: #5B1F78;
	
}

#navbar ul li.active{
	background-color:#F08A00; 
} 

#navbar li a{
	color: #fff;	
}

#navbar li ul{
	background-color: #F08A00;	
}


.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #F08A00;
    
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #F08A00;
}

.navbar-brand{
	color:#fff;
}

.panel-default>.panel-heading{
	background-image: linear-gradient(to bottom,#9260A0 0,#D2C5DF 100%);
	border-color: #D2C5DF;
}

.panel-heading h3{
	color: #fff;
}

.panel-default {
    border-color: #D2C5DF;
}
.btn-default{
	    background-image: linear-gradient(to bottom,#fff 0,#5B1F78 100%);
	    color:#fff;
}

.hidden {
	display: none;
}


#driverslicense_select {
	margin-bottom: 8px;
}

.save-failed, .save-succeeded {
	display: none;
}

.message {
	margin-left: 4px;
}

.mgn-lft4px {
	margin-left: 4px;
}

.mgn-lft8px {
	margin-left: 8px;
} 

.mgn-rgt8px {
	margin-right: 8px;
}

.mgn-top8px {
	margin-top: 8px;
}

.mgn-top4px {
	margin-top: 4px;
}

.mgn-top16px {
	margin-top: 16px;
}

.mgn-btm8px {
	margin-bottom: 8px;
}

.float-rgt {
	float: right;
}

th.overview {
	font-size: 90%;
}

.tr {
    font-weight: bold;
}

.tr, .tt, .tq {
    float: left;
    width: 25%;
    font-size: 14px;
    line-height: 25px;
    overflow: hidden;
    min-height: 25px;
}

.break {
	clear:both;	
}

.bold{
	font-weight: bold;
}

table#periods-table {
	border-collapse: separate;
    border-spacing: 4px;
}

.application-row, .job-row, .overview-row {
	padding-top: 4px;
	padding-bottom: 4px;
}

.application-row:hover, .job-row:hover {
	background-color: #e8e8e8; 
/* 	opacity: 0.8; */
	cursor: pointer;
}

.overview-row:hover {
	background-color: #e8e8e8; 
}

table#salary-table {
	border-collapse: separate;
    border-spacing: 4px;
}

table#accounting-entries-table {
	border-collapse: separate;
    border-spacing: 4px;
}

table#contact-person-table {
	border-collapse: separate;
    border-spacing: 4px;
}

#save-period-failed, #save-period-succeeded {
	display: none;
	margin-top: 16px;
}

#save-place-failed, #save-place-succeeded {
	display: none;
	margin-top: 16px;
}

#save-salary-failed, #save-salary-succeeded {
	display: none;
	margin-left: 16px;
	margin-right: 16px;
}

#save-accounting-failed, #save-accounting-succeeded {
	display: none;
	margin-left: 16px;
	margin-right: 16px;
}

#save-contact-failed, #save-contact-succeeded {
	display: none;
	margin-left: 16px;
	margin-right: 16px;
}

.period-div {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
}

.matched-application, #jobinfo-contact {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 4px 8px 4px 8px;
	margin-top: 8px;
}

.candidate, .denied-application {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 8px 8px 8px 8px;
	margin-top: 8px;
}

/* #manage-job-box { */
/* 	border: 1px solid #ccc; */
/* 	border-radius: 8px; */
/* 	padding: 4px 8px 4px 8px; */
/* } */

#period_unique {
	display: none;
}

.prio {
	color: red;
}

#preview-template {
	display: none;
}

.preview-period-template {
	display: none;
}

.preview-period-showing {
/* 	display: none; */
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 4px 8px 4px 8px;
	margin: 4px 8px 4px 8px;
}

.remove-mentor:hover {
	cursor: pointer;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}
